*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
body{

    font-family: 'Poppins', sans-serif;
    background-color : #f0f2f5;
    color : #1c1e21;
}
main{
    height: 70vh;
    width: 80vw;
    position: relative;
    margin: 0 auto;
}
footer{
    height: 30vh;
    background-color :#ffff;
}
.row{
   display : flex ;
   justify-content:space-around;
   align-items: center ;
   width: 100%;
   max-width: 1000px;
   position : absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}
.col-logo{
    flex : 0 0 50%;
    text-align: left;
}
.col-form{
    flex : 0 0 40%;
    text-align: center;
}
.col-logo  img{
    max-width:  300px;
}
.col-logo h2{
    font:  26px;
    padding: 0 30px 0;
    font-weight: 400;
    line-height: 32px;
}
.from-container{
    background-color: #ffff;
    border: none;
    border-radius : 8px;
    box-shadow : 0 2px 4px rgba(0,0,0,.1) , 0 8px,16px rgba(0,0,0,0.1);
    border-top: 30px;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 20px;
}
.from-container input,.btn-login{
    width : 100%;
    margin: 5px 0 ;
    height : 45px;
    vertical-align:  middle;
    font-size: 16px;
}
.from-container input{
    outline: none;
    padding: 0 8px;
    color : #1d1229;
    border : 1px solid #dddfe2;
}
.from-container input:focus{
    border : #1877f2;
}
.from-container .btn-login{
    background-color : #1877f2;
    border : none ;
    border-radius : 6px;
    font-size :0 20px;
    color : #ffff;
    font-weight : 700;
    padding : 0 16px;
}
.from-container a {
    display : block;
    color : #1877f2;
    font-size : 14px ;
    text-decoration : none;
    border-top: 1px solid #dadde1;
}
.from-container a:hover{
    text-decoration: underline;

}
.from-container .btn-new{
    background-color : #42b72a;
    border : none ;
    border-radius : 6px;
    font-size : 17px ;
    line-height: 48px;
    padding:  0 16px;
    color: #ffff;
   font-weight: 700;
    margin-top: 20px;
}
.col-form p {
    font-size: 14px;
    margin-bottom: 20px;
}
.col-form p a{
    
    text-decoration: none;
    color: #1c1e21;
}
.col-form p a:hover{
    text-decoration: underline;
}
.footer-container{
    position: relative;
    max-width:1000px;
    margin: 0 auto;
}
footer ol{
    display : flex;
    flex-wrap:  wrap;
    list-style:  none;
    padding: 10px  0;
}
footer ol:first-child{
    border-top: 1px solid #dddfe2;
}
footer ol li {
    padding-right:15px;
    font-size: 12px;
    color : #1c1e21;
   
}
footer ol li a {
    color : #1c1e21;
    text-decoration: none;
}
footer ol li a:hover{
    text-decoration: underline;
}
small{
    font-size: 11px;
}